.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  min-height: 100%;
  position: relative;
}
#middle {
  /* padding: 10px; */
  padding-bottom: 60px; /* Wysokość nagłówka */
}
